/* RESET */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    width: 100%;
}

/* DEBUG */




/* COMMON */
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.container
{
    width: 70%;
    margin: 0 auto;
}

.flex-container
{
    display: flex;
}

a
{
    color: inherit;
    text-decoration: none;
}

ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


/* HEADER */
header
{
    background-color: #ff6900;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo
{
    width: 170px;
    padding: 0 20px;
}

.categories-list>li
{
    padding: 0 20px;
}

.option-list>li
{
    padding: 0 5px;
}

.navigation-area
{
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* MAIN */
.col
{
    width: calc( 100% / 3 );
    padding: 0 10px;
}

.cards
{
    position: relative;
}

.product 
{
    margin-top: 20px;
    position: relative;
}

.discount
{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.products-list
{
    flex-wrap: wrap;
}

.back-green 
{
    background-color: green;
    padding: 5px;
    font-size: smaller;
}

.back-red
{
    background-color: red;
    padding: 5px;
    margin-right: 5px;
    font-size: smaller;
}

.over
{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: none;
}

.product:hover .over {
    display: inline-block;
}

.heart
{
    width: 30px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    background-color: whitesmoke;
    position: absolute;
    top: 5px;
    right: 0;
}

.brand
{
    font-size: small;
    color: gray;
}

.price
{
    font-size: smaller;
}

.discounted-price
{
    color: red;
}

.original-price
{
    text-decoration: line-through;
}